body {
    background-color: rgb(20, 20, 20);
    color: rgb(245, 245, 245);
    font-family: 'JetBrains Mono', monospace; /* Google fonts */

    border: 2px solid white;
    position: relative;
    margin: 8px;
    min-height: 100vh;
}

header {
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
header h1 {
    margin: 0vh;
}


a {
    font-size: 2rem;
    color:rgb(245, 245, 245);
}
a:visited {
    color:rgb(245, 245, 245);
}

nav {
    background-color: rgb(36, 36, 36);
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
nav {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
nav a {
    text-align: center;
    max-width: 250px;
}
nav img {
    max-width: 3rem;
}

.navbarSpacing {
    font-size: 1rem;
}

.mainContent {
    padding-bottom: 300px;
    background-color: rgb(46, 46, 46);
}

h1, h2, h3 {
  margin: 0;
  padding: 20px 0;
  text-align: center;
}
h3 {
    background-color: rgb(20, 20, 20);
}

.mainContent p {
  text-align: center;
}
p {
  text-align: justify;
}

.listedCompanies {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.01) 10%, rgba(136, 136, 136, 1) 100%, rgba(0, 0, 0, 0.01) 90%);
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 10px 0;

    border: 0.25rem solid rgba(0, 0, 0, 0.8);
}
.listedCompanies img {
  max-height: 3rem;
  max-width: 75vw;
  padding: 15px;

  border-radius: 10px;

  margin: 5px 10px;

  transition: 0.25s ease-in-out;

  border: 2px solid rgba(0, 0, 0, 0.4);

  background-color: rgba(0, 0, 0, 0);
}

.listedCompanies img:hover {
  background-color: rgba(0, 0, 0, 0.3);
}


footer {

    margin-top: 30px;


    height: 300px;
    position: absolute;
    bottom: 0;
    padding: 0.3rem;
    width: calc(100% - 0.3rem * 2);

    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 20, 20);

    box-shadow: 0px 0px 40px black;
}
footer a {
    padding: 0.5rem;
}
footer img {
    max-width: 3rem;
}
.footerElement {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.footerElement h3, .footerElement p {
    margin: 0.4rem 0px;
}
