body {
    background-color: rgb(46, 46, 46);
    color: rgb(245, 245, 245);
    font-family: 'JetBrains Mono', monospace; /* Google fonts */

    border: 2px solid white;
    position: relative;
    margin: 8px;
    min-height: 100vh;
}

header {
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
header h1 {
    margin: 0vh;
}


a {
    font-size: 2rem;
    color:rgb(245, 245, 245);
}
a:visited {
    color:rgb(245, 245, 245);
}

nav {
    background-color: rgb(36, 36, 36);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    justify-items: center;
    align-items: center;
}
nav a {
    text-align: center;
    max-width: 250px;
}
nav img {
    max-width: 3rem;
}

.navbarSpacing {
    font-size: 1rem;
}

.mainContent {
    padding-bottom: 250px;
}

h1, h2, h3 {
  text-align: center;
}
h3 {
    margin: 0;
    background-color: rgb(20, 20, 20);
}

p {
  text-align: justified;
}


footer {

    height: 250px;
    position: absolute;
    bottom: 0;
    padding: 0.3rem;
    width: calc(100% - 8px - 0.3rem * 2);

    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 20, 20);
}
footer a {
    padding: 0.5rem;
}
footer img {
    max-width: 3rem;
}
.footerElement {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.footerElement h3, .footerElement p {
    margin: 0.4rem 0px;
}
